.head{
    border-radius: 10px;
    background-color: grey;
    padding: 40px;
    margin: 40px;
    border: 20px;
    width: 200px;
    font: bolder;
    
}
input{
    margin: 7px;
    padding: 5px;
}
h1{
    color: blue;
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    
}
button{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
